<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
	<!-- Notice how we pass in the id's as an array as opposed to the long way
	of writing article_comment_path([comment.article, comment]) so we know that
	the path helper method can be omitted and simple pass in its arguments -->
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>